.details-container {
  padding: 20px;
  max-width: 800px;
  margin: 20px auto;
}

.actions {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.product-info-card {
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
}

.card-layout {
  display: flex;
  gap: 30px;
  align-items: center;

  @media (max-width: 600px) {
    flex-direction: column;
    text-align: center;
  }
}

.detail-image {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3f51b5;
}

.info-content {
  flex: 1;

  mat-card-title {
    font-size: 2rem;
    margin-bottom: 10px;
  }

  .email-row {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
    color: #555;
  }

  .form-grid {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
  }

  mat-form-field {
    width: 100%;
  }
  .image-section {
  position: relative;
  display: inline-block;
}

.image-actions {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.detail-image {
  padding: 10px;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  object-fit: cover;
  border: 4px solid #3f51b5;
  transition: opacity 0.3s;
}


.image-section:hover .detail-image {
  opacity: 0.8;
}
}