.main-header {
  position: sticky;
  top: 0;
  z-index: 1000;
  height: 70px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.header-container {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.brand {
  font-size: 1.5rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
}

.spacer {
  flex: 1 1 auto;
}

.search-field {
  width: 300px;
  margin-top: 18px; 
  
  ::v-deep .mat-mdc-text-field-wrapper {
    background-color: white;
    border-radius: 8px;
  }
}

.add-button-container {
  display: flex;
  align-items: center;
  cursor: pointer;
  margin-right: 15px; 
  margin-left: 15px;
}

.add-text {
  font-size: 1rem;
  margin-left: 5px; 
}

@media (max-width: 600px) {
  .add-text {
    display: none; 
  }
  .brand {
    font-size: 1rem;
  }
  .search-field {
    width: 180px;
  }
}